<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.spirited.carpool">

    <application
        android:allowBackup="true"
        android:icon="@drawable/carpool"
        android:label="城际拼车"
        android:name="com.spirited.carpool.CarpoolApplication"
        android:roundIcon="@drawable/carpool"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:label,android:allowBackup,android:name">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--   登陆页面     -->
        <activity android:name=".LoginActivity" android:screenOrientation="portrait"/>

        <!--   路线设置     -->
        <activity android:name=".RouteSettingActivity" android:screenOrientation="portrait"/>
        <!--   路线导航     -->
        <activity android:name=".NavigationActivity" android:screenOrientation="portrait"/>
        <!--   路线导航     -->
        <activity android:name=".WaitingHallActivity" android:screenOrientation="portrait"/>
        <!--   车次详情     -->
        <activity android:name=".TrainDetailActivity" android:screenOrientation="portrait"/>


        <!--自动适配-->
        <meta-data android:name="design_width" android:value="375" />
        <meta-data android:name="design_height" android:value="667" />

        <!--友盟-->
        <meta-data android:name="UMENG_APPKEY" android:value="5f9134288a5de91db33d983d" />

        <!--百度地图-->
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote"/>
        <meta-data android:name="com.baidu.lbsapi.API_KEY" android:value="h3sFQUUOAsggvzM8dc0YQzvbxQBpNZ3m" />
    </application>

</manifest>